*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(https://fronty.com/static/uploads/1.12-1.01/css%20image/HTML_IMAGE.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

nav a{
    height: 100%;
    text-decoration: none;
    padding: 20px;
    color: black;
    display: flex;
    align-items: center;
}

nav a:hover{
    background-color: gray;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;

}

.sidebar li{
    width: 100%;
}

@media(max-width: 800px){
    .hide{
        display: none;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}





